@import url('https://fonts.googleapis.com/css?family=Oswald: 100,200,300,400,500,600,700');

/* -------------- Colors ------------- */
.bg-color-navbar {
  background-color: #ffffff;
}

/* -------------- Special Paddings/Margins/Text -------------------- */
h1,
h2,
h3,
h4 {
  margin: 0;
}

.uppercase {
  text-transform: uppercase;
}

.center {
  text-align: center;
}

/* -------------- Heading ------------- */
header {
  margin: 0;
  border-bottom-style: solid;
  border-color: rgb(152, 35, 224);
}

.navbar {
  border: none;
}

.logo-container { /* specifying this custom class since navbar-header is bootstrap's own */
  margin-top: 25px;
  margin-left: 35px; /* offsetting -15px set by the media query */
  margin-right: 20px;
}

#navbar-ul a {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 30px;
  color: rgb(152, 35, 224);
}

.navbar-link {
  margin-top: 40px;
  padding-left: 15px;
  padding-right: 15px;
}

.navbar-brand {
  background: url("../images/snoop-logo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 102px;
  width: 360px;
}

/* -------------- Media Queries ------------- */
@media (min-width: 768px) {
  .navbar-nav {
    margin: 0 auto;
    display: table;
    table-layout: fixed;
    float: none;
  }
}
