/* -------------- Colors ------------- */

.bg-color-amethyst-transparent {
    background-color: rgba(155, 89, 182, 0.8)
}

/* -------------- Background -------------- */

.parallax {
    /* The image used */
    background-image: url("../images/background-image.jpg");
    /* Set a specific height */
    height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* -------------- Special Paddings/Margins/Text -------------------- */

/*

Proposed fonts for use in this project:
font-family: 'Viga', sans-serif;
font-family: 'Anton', sans-serif;
font-family: 'Varela Round', sans-serif;

*/

html {
    height: 100%;
    width: 100%;
}

h1,
h2,
h3,
h4 {
    margin: 0;
}

.uppercase-text {
    text-transform: uppercase;
}

.center-text {
    text-align: center;
}

.center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.vertical-align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

a {
    text-decoration: none;
    font-family: 'Viga', sans-serif;
    font-weight: 700;
    font-size: 32px;
    color: #ffffff;
}

a:hover {
    text-decoration: none;
    color: rgba(245, 245, 4, 0.8);
}

.nav-bar a {
    text-decoration: none;
    font-family: 'Varela Round', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #ffffff;
}

.nav-bar a:hover {
    text-decoration: none;
    color: rgba(245, 245, 4, 0.8);
}

/* -------------- Heading / menu bar ------------- */

.header-bar {
    width: 100%;
    background-color: rgba(245, 245, 4, 0.836);
}

.header-links-left {
    align-self: center;
    padding: 20px;
    width: 220px;
    /* background-color: #700CBC; */
}

.header-links-right {
    align-self: center;
    padding: 20px;
    width: 220px;
    /* background-color: #700CBC; */
}

.nav-logo {
    align-self: center;
    flex-grow: 4;
}

#brand-logo-image {
    height: 100px;
    width: 360px;
    padding-left: 10px;
    padding-right: 10px;
}

/* --------------- Nav Bar ------------------ */

.nav-bar {
    /* background-color: rgba(83, 64, 134, 0.596); */
    padding: 5px;
}

.nav-bar-link {
    padding: 5px 20px;
    flex-grow: 1;
}

#bio-nav-bar-link {
    flex-grow: 3;
}

/* --------------- Flexbox-main ------------- */

header {
    width: 100%;
}

.flex-container-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 25px;
}

.flex-container-nav-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* -------------- Media Queries ------------- */

@media(max-width: 849px) {
    .header-links-left {
        order: 2;
        margin-top: 20px;
    }
    .header-links-right {
        order: 3;
        margin-top: 20px;
    }
    .nav-logo {
        order: 1;
    }
    .flex-container-header {
        flex-direction: column;
    }
}

@media screen and (max-width: 700px) {
    .flex-container-nav-bar {   
      flex-direction: column;
    }
  }